<html>
<head>
    <title>
        <%= locals.title  %>
        
    </title>
    <script src="https://kit.fontawesome.com/68ecea0092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" >
</head>
    <body>
        <h1 id="page-heading">
            <i class="far fa-address-book"></i>
            MY Contact list</h1>
            <form id="contact-form" action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter name" required >
                <input type="number" name="phone" placeholder="Enter phone" required>
    
                <button type="submit" >Add </button>
    
            </form>

        <div>
            <ul>
                <% for (let i of contact_list) { %>
                    <li class="contacts" >
                        <div class="details" >
                            <p> <%= i.name %></p>
                            <p> <%= i.phone %></p>
                        </div>
                        <div class="delete-button" >
                            <a href="/delete-contact/?id=<%= i._id %> "><i class="far fa-window-close"></i></a>?
                                
                            </a>
                        </div>
                    </li>
                <%} %>
            </ul>
        </div>

        


        <script  type="text/javascript" src="/js/home.js" ></script>
    </body>

</html>